.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 19px;
    text-align: center;
    max-width: 500px;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

.success {
    text-align: center;
    font-weight: bold;
    font-size: 19px;
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.error {
    font-weight: bold;
    font-size: 19px;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}
